<!--habilidades-->
<section id="habilidades">
  <div>
    <h2>seccion de aptitudes y habilidades</h2>
  </div>
  <div class="container contenedor-habilidades">
    <div class="contenedor-skills" *ngFor="let skill of skills">
      <div class="bg-success tarjeta-skill">
        <p class="text-center">{{skill.title}}</p>
        <img [src]="skill.img" alt="" class="skill-img">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
            {{skill.detail}}
          </div>
        </div>
      </div>
      <div class="opciones-de-edicion">
        <app-btn-agregar *ngIf="activarOpcionAgregar" (nuevoDato)="agregarRegistro($event)"></app-btn-agregar>
        <app-btn-editar class="m-3" [Dato]="skill" (onNewDato)="guardarWorks($event)"></app-btn-editar>
        <app-btn-eliminar *ngIf="activarOpcionEliminar" [Dato]="skill" (eliminadorDeRegistro)="eliminarRegistro($event)"></app-btn-eliminar>
      </div>
    </div>
  </div>
</section>