  <!--habilidades-->
  <section id="habilidades">
    <div>
      <h2>seccion de aptitudes y habilidades</h2>
    </div>
    <div class="container contenedor-habilidades ">
      <div class="row justify-content-around w-100 h-25">
        <div class="col-sm-3 bg-success">
          <p class="text-center">habilidad 1</p>
            <br>
            <img src="" alt="h1">
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
              70%
            </div>
          </div>
        </div>
        <div class="col-sm-3 bg-info">
          <p class="text-center">habilidad 2</p>
            <br>
            <img src="" alt="h2" >
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
              70%
            </div>
          </div>
        </div>
        <div class="col-sm-3 bg-warning">
          <p class="text-center">habilidad 3</p>
            <br>
            <img src="" alt="h3" >
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
              70%
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-around w-100 h-25">
        <div class="col-sm-3 bg-success">
           <p class="text-center">habilidad 4</p>
            <br>
            <img src="" alt="h4" >
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
              70%
            </div>
          </div>
        </div>
        <div class="col-sm-3 bg-info">
           <p class="text-center">habilidad 5</p>
            <br>
            <img src="" alt="h5" >
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
              70%
            </div>
          </div>
        </div>
        <div class="col-sm-3 bg-warning">
           <p class="text-center">habilidad 6</p>
            <br>
            <img src="" alt="h6" >
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
              70%
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>