<!--habilidades-->
<section id="habilidades">
  <div>
    <h2>seccion de aptitudes y habilidades</h2>
  </div>
  <div class="container contenedor-habilidades">
    <div class="contenedor-skills" *ngFor="let skill of skills">
      <div class="bg-success tarjeta-skill">
        <p class="text-center">{{skill.nombreTecn}}</p>
        <img [src]="skill.urlImgTecn" alt="" class="skill-img">
        <div class="progress m-3">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
            {{skill.nivel}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>