<form class="container bg-secondary form-contorl" (ngSubmit)="onSubmit()">
    <div >
        <label for="imgEduc">Imagen <b style="color:red">*</b></label>
        <input type="text" name="imgEduc"  placeholder="Ingresa Url de Imagen" [(ngModel)]="imgEduc">
    </div>
    <div >
        <label for="nombre_educ">Titulo <b style="color:red">*</b></label>
        <input type="text" name="nombre_educ" placeholder="Desiganar educacion" [(ngModel)]="nombre_educ">
    </div>
    <div>
        <label for="descripcionEduc">Detalles <b style="color:red">*</b></label>
        <input type="text" name="descripcionEduc" id="detail" placeholder="Agregar Detalle de educacion" [(ngModel)]="descripcionEduc">
    </div>
    <div >
        <label for="anioInicioEduc">Año de inicio</label>
        <input type="number" name="anioInicioEduc" placeholder="Año de inicio" [(ngModel)]="anioInicioEduc">
    </div>
    <div >
        <label for="anioFinEduc">Año de finalizaciono</label>
        <input type="number" name="anioFinEduc" placeholder="Año finalizacion" [(ngModel)]="anioFinEduc">
    </div>
    <div >
        <label for="nombreOrgEduc">Nombre de la institucion</label>
        <input type="text" name="nombreOrgEducc" placeholder="institucion" [(ngModel)]="nombreOrgEduc">
    </div>
    <div>
        <input type="submit" value="Guardar Cambios" >
        <input type="reset" value="Limpiar Campos" >
    </div>
</form>