<footer id="contacto">
  <h2>Contacto</h2>
  <div class="container" *ngFor="let pie of footer">
    <div class="row">
      <div class="container my-1 text-light">
        <div class="row">
          <div class="col-sm-2 mb-1">
            <h4>Mapa de sitio</h4>
            <ul>
              <li><a href="#fotoPerfil">Mas Sobre Mi</a></li>
              <li><a href=#experiencias>Experiencias</a></li>
              <li><a href=#proyectos>Proyectos</a></li>
            </ul>
          </div>
          <div class="col"></div>
          <div class="col-sm-5 mb-1 contacto-footer">
            <p>Telefono {{pie.telefono}}</p>
            <p>Direccion {{pie.direccion}}</p>
            <a href="Https://wa.me/543804785858">Envia un mensaje</a>
          </div>
          <div class="col"></div>
          <div class="col-sm-2 mb-1">
            <h4>infomacion adicional</h4>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>