
<footer id="contacto">
    <h2>Contacto</h2>
    <div class="container">
      <div class="row">
        <div class="container my-1 text-light">
          <div class="row">
            <div class="col-sm-2 mb-1">
              <h3>enlaces</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>

            </div>
            <div class="col"></div>
            <div class="col-sm-5 mb-1 contacto-footer">
              <div></div>
              <div></div>
              <div></div>

            </div>
            <div class="col"></div>
            <div class="col-sm-2 mb-1">
              <h3>info adic</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>