<!--Experiencias Laborales -->
<section id="experiencias">
  <div>
    <h2>experiencias</h2>
  </div>
  <div id="espacioExp" *ngFor="let work of works; let i=index">
    <div id="fotoExp"class="m-3">
      <img [src]="work.imgExpLab" alt="" style="width: 150px;height: 150px;">
    </div>
    <div id="detallesExp">
      <div id="tituloExp">
        <h3>{{work.nombreExpLab}}</h3>
      </div>
      <div id="espacioResumenExp">
        <p>{{work.descripcionExpLab}} 
          <br>Lugar:{{work.nombreLugarExpLab}} - Duracion: {{work.anioInicioExpLab}} - {{work.anioInicioExpLab}}-</p>
      </div>
    </div>
    <div class="menu-de-opciones">
      <app-menu-exp-lab [Dato]="work" (edit)="guardarWorks($event)" (nvoDato)="agregarRegistro($event)"  (borrarDato)="eliminarRegistro($event)"></app-menu-exp-lab>
    </div>
  </div>
</section>