 <!--Experiencias Laborales -->
 <section id="experiencias">
    <div>
      <h2>experiencias</h2>
    </div>
    <div id="espacioExp">
      <div id="fotoExp">
        <img src="" alt="">
      </div>
      <div id="detallesExp">
        <div id="tituloExp">
          <h3>Experiencia Laboral 1</h3>
        </div>
        <div id="espacioResumenExp">
          <p>detalles</p>
        </div>
      </div>
    </div>
    <div id="espacioExp">
      <div id="fotoExp">
        <img src="" alt="">
      </div>
      <div id="detallesExp">
        <div id="tituloExp">
          <h3>Experiencia Laboral 2</h3>
        </div>
        <div id="espacioResumenExp">
          <p>detalles</p>
        </div>
      </div>
    </div>
    <div id="espacioExp">
      <div id="fotoExp">
        <img src="" alt="">
      </div>
      <div id="detallesExp">
        <div id="tituloExp">
          <h3>Experiencia Laboral 3</h3>
        </div>
        <div id="espacioResumenExp">
          <p>detalles</p>
        </div>
      </div>
    </div>
  </section>