<!--Experiencias Laborales -->
<section id="experiencias">
  <div>
    <h2>experiencias</h2>
  </div>
  <div id="espacioExp" *ngFor="let work of works; let i=index">
    <div id="fotoExp">
      <img [src]="work.img" alt="" style="width: 150px;height: 150px;">
    </div>
    <div id="detallesExp">
      <div id="tituloExp">
        <h3>{{work.title}}</h3>
      </div>
      <div id="espacioResumenExp">
        <p>{{work.detail}}</p>
      </div>
    </div>
    <div class="menu-de-opciones">
      <app-btn-agregar *ngIf="activarOpcionAgregar" (nuevoDato)="agregarRegistro($event)"></app-btn-agregar>
      <app-btn-editar class="m-3" [Dato]="work" (onNewDato)="guardarWorks($event)"></app-btn-editar>
      <app-btn-eliminar *ngIf="activarOpcionEliminar" [Dato]="work" (eliminadorDeRegistro)="eliminarRegistro($event)"></app-btn-eliminar>
    </div>
  </div>
</section>