<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 mt-3">
        <img src="https://pbs.twimg.com/media/E8YoUlFWEAAeBu_.jpg" alt="" style="height: 100%;width: 100%;">
      </div>
      <!--NAV-->
      <div class="col-8 mt-3 nav-contenedor">
        <nav>
          <li><a href=#fotoPerfil>Acerca de mi</a></li>
          <li><a href=#experiencias>Experiencias</a></li>
          <li><a href=#proyectos>Proyectos</a></li>
          <li><a href=#contacto>Contacto</a></li>
          <li><a href=>cv</a></li>
          <input id="abrirLog" type="button" value="Iniciar sesion">
        </nav>
      </div>
    </div>
  </div>
  <!--BANNER-->
  <div *ngFor="let Banner of banner; let i=index" > 
    <div id="contenedorBanner" >
      <div id="contenedor-fondo-banner">
        <div id="fondo-banner">
          <div id="espacio-foto-banner" >
            <img [src]="Banner.img" id="foto-banner">
          </div>
          <div id="frase-banner">
            <h3>{{Banner.title}} </h3>
            <p>{{Banner.detail}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <app-btn-editar *ngIf="userLog" [Dato]="Banner" (onNewDato)="guardarBanner($event)"></app-btn-editar>
      <app-btn-eliminar *ngIf="activarOpcionEliminar" [Dato]="Banner" (eliminadorDeRegistro)="eliminarRegistro($event)"></app-btn-eliminar>
      <app-btn-agregar *ngIf="activarOpcionAgregar" (nuevoDato)="agregarRegistro($event)"></app-btn-agregar>
    </div>
  </div>
</header>