<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 mt-3">
        <h2>Logo</h2>
      </div>
      <!--NAV-->
      <div class="col-8 mt-3 nav-contenedor">
        <nav>
          <li><a href=#fotoPerfil>Acerca de mi</a></li>
          <li><a href=#experiencias>Experiencias</a></li>
          <li><a href=#proyectos>Proyectos</a></li>
          <li><a href=#contacto>Contacto</a></li>
          <li><a href=>cv</a></li>
          <input id="abrirLog" type="button" value="Iniciar sesion">
        </nav>
      </div>
    </div>
  </div>
  <!--BANNER-->
  <div *ngFor="let Banner of banner" >
    <div id="contenedorBanner" >
      <div id="contenedor-fondo-banner">
        <div id="fondo-banner">
          <div id="espacio-foto-banner">
            <img [src]="Banner.img" id="foto-banner">
          </div>
          <div id="frase-banner">
            <h3>{{Banner.title}}</h3>
            <p>{{Banner.detail}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <app-btn-editar *ngIf="userLog" (onNewDato)="guardarBanner($event)"></app-btn-editar>
    </div>
  </div>
</header>