<button class="btn btn-primary" (click)="desplegarEdicion()">Editar</button>

<form *ngIf="editar" class="container bg-secondary form-contorl" (ngSubmit)="onSubmit()">
    <div>
        <label for="nombreApellido">Apellido Nombre <b style="color:red">*</b></label>
        <input type="text" name="nombreApellido" id="nombreApellido" placeholder="ingresa tu apellido y nombre" [(ngModel)]="nombreApellido">
    </div>
    <div >
        <label for="edad">Edad</label>
        <input type="number" name="edad" id="edad" placeholder="Ingrasa edad" [(ngModel)]="edad">
    </div>
    <div >
        <label for="urlFotoPerfil">FotoDePerfil<b style="color:red">*</b></label>
        <input type="text" name="urlFotoPerfil" id="urlFotoPerfil" placeholder="Ingresa Url de Imagen" [(ngModel)]="urlFotoPerfil">
    </div>
    <div >
        <label for="titulo">Titulo<b style="color:red">*</b></label>
        <input type="text" name="titulo" id="titulo" placeholder="Agregar Titulo" [(ngModel)]="titulo">
    </div>
    <div>
        <label for="sobreMi">Mas Sobre Mi<b style="color:red">*</b></label>
        <input type="text" name="sobreMi" id="sobreMi" placeholder="Aqui puedes escribir sobre ti" [(ngModel)]="sobreMi">
    </div>
    <div>
        <label for="direccion">Direccion</label>
        <input type="text" name="direccion"  placeholder="Aqui titulo" [(ngModel)]="direccion">
    </div>
    <div>
        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" id="sobreMi" placeholder="contacto celular/fijo" [(ngModel)]="telefono">
    </div>
    <div>
        <input type="submit" value="Guardar Cambios" >
        <input type="reset" value="Limpiar Campos" >
    </div>
</form>