<!--Educacion-->
<section class="educacion">
    <div>
      <h2>formacion</h2>
    </div>
    <div>
      <ul>
        <li>
          <figure>
            <img src="img/fotoPerfil.png" alt="">
            <figcaption>
              <h3>titulo</h3>
              <p>detalles Lorem ipsum dolor sit.</p>
            </figcaption>
          </figure>
          <div class="controlEdit2">
            <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
            <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </li>
        <li>
          <figure>
            <img src="img/fotoPerfil.png" alt="foto">
            <figcaption>
              <h3>titulo</h3>
              <p>detalles Lorem ipsum dolor sit.</p>
            </figcaption>
          </figure>
          <div class="controlEdit2">
            <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
            <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </li>
        <li>
          <figure>
            <img src="img/fotoPerfil.png" alt="">
            <figcaption>
              <h3>titulo</h3>
              <p>detalles Lorem ipsum dolor sit.</p>
            </figcaption>
          </figure>
          <div class="controlEdit2">
            <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
            <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </li>
        <li>
          <figure>
            <img src="img/fotoPerfil.png" alt="">
            <figcaption>
              <h3>titulo</h3>
              <p>detalles Lorem ipsum dolor sit.</p>
            </figcaption>
          </figure>
          <div class="controlEdit2">
            <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
            <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </li>
      </ul>
    </div>
    <div class="controlEdit">
      <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
    </div>
  </section>