<!--EDUCACION-->
<section>
  <div>
    <h2>formacion</h2>
  </div>
  <div class="educacion">
    <div class="contenedor-educ">
      <ul class="ul-content">
        <li class="li-content" *ngFor="let formacion of education">
          <figure>
            <img class="foto-educ" [src]="formacion.imgEduc" alt="">
            <figcaption>
              <h3>{{formacion.nombre_educ}}</h3>
              <p>{{formacion.descripcionEduc}}
                <br>
                {{formacion.nombreOrgEduc}} - {{formacion.anioInicioEduc}} - {{formacion.anioFinEduc}}
              </p>
            </figcaption>
          </figure>
          <div class="opciones-de-edicion">
            <app-btn-agregar *ngIf="activarOpcionAgregar" (nuevoDato)="agregarRegistro($event)"></app-btn-agregar>
            <app-btn-editar class="m-3" [Dato]="formacion" (onNewDato)="guardarWorks($event)"></app-btn-editar>
            <app-btn-eliminar *ngIf="activarOpcionEliminar" [Dato]="formacion" (eliminadorDeRegistro)="eliminarRegistro($event)"></app-btn-eliminar>
          </div>
        </li>
      </ul>
    
    </div>
  </div>
</section>